[core]
    excludesfile = /Users/swatkins/.gitignore
    # editor = mvim -v
[color]
    ui = true
[diff]
    tool = kdiff3
[difftool "bc3"]
    trustExitCode = true
[merge]
    tool = kdiff3
#   tool = vimdiff
[user]
    name = Stephen Watkins
    email = <REPLACEME>
[include]
    path = ~/stephen_config/.gitconfig-shared
